<!DOCTYPE html>
<html>
  <head>
    <title>HTTP Disabled</title>
  </head>
  <body>
    <p>HTTP access is disabled. Click here to browse Nexus securely: <a href="https://{{nexus_http_host}}/">https://{{nexus_http_host}}/</a>.</p>
  </body>
</html>
