<!DOCTYPE html>
<html>
  <head>
    <title>Invalid Host</title>
  </head>
  <body>
    <p>Invalid host. To browse Nexus, <a href="http://{{nexus_http_host}}/">click here/</a>. To use the Docker registry, point your client at {{nexus_docker_host}}.</p>
  </body>
</html>
