<!DOCTYPE html>
<html>
  <head>
    <title>Invalid Host</title>
  </head>
  <body>
    <p>
      Invalid host. To browse Nexus, <a href="http://{{nexus_http_host}}/">click here/</a>.
      {{#if nexus_docker_host}}
      To use the Docker registry, point your client at {{nexus_docker_host}}.
      {{/if}}
    </p>
  </body>
</html>
